/*------------------------------------------------------------------------------------------------------------------------
 @author: Soham Basak
 @www: http://www.pyplyn.co
 @github: farouk2u
 @version: 1.0

 =============================================================================
 Filename: _base.scss
 =============================================================================
 This file is responsible for establishing base styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */