/*------------------------------------------------------------------------------------------------------------------------
 @package: SCDWC
 @author: Soham Basak
 @www: http://www.pyplyn.co
 @github: farouk2u
 @version: 1.0

 =============================================================================
 Filename: _layout.scss
 =============================================================================
 This file is responsible for establishing layout styles for the charity app.
 --------------------------------------------------------------------------------------------------------------------- */

 /* =============================================================================
Header
========================================================================== */



/* =============================================================================
Home Slider
========================================================================== */



/* =============================================================================
Footer
========================================================================== */



